/* ./src/index.css */
@import url("https://use.typekit.net/izf7yln.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark .main-scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.dark .main-scrollbar::-webkit-scrollbar-track {
    background: #1F2937;
}

/* Handle */
.dark .main-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
.dark .main-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.comments::-webkit-scrollbar {
    width: 0.5rem;
}

/* Track */
.comments::-webkit-scrollbar-track {
    background: #ffffff;
}

.dark .comments::-webkit-scrollbar-track {
    background: #4B5563;
}

.dark .comments::-webkit-scrollbar-track {
    background: #1F2937;
}

/* Handle */
.comments::-webkit-scrollbar-thumb {
    background: #C1C1C1;
    border-radius: 10px;
}

.dark .comments::-webkit-scrollbar-thumb {
    background: #888888;
    border-radius: 10px;
}

/* Handle on hover */
.comments::-webkit-scrollbar-thumb:hover {
    background: #4B5563;
}

.react-icons {
    vertical-align: middle;
}
